@page
@model WebApp.Pages.Recipes.ReadModel
@{

    <br/>
    <img src="@Model.Recipe.ImageSource" style="max-height: 500px; object-fit: contain;"></img>
    <br/>
    <h2>@Model.Recipe.Title</h2>
    <br/>
    <p>@Model.Recipe.Instructions</p>
    <br/>
    <p>Submitted by <strong>@Model.Recipe.User.Username</strong> | Created at @Model.Recipe.CreatedAt </p>
        
}
