@page 
@model WebApp.Pages.Recipes.ReadAllModel
@{
    @if (Model.Recipes != null && Model.Recipes.Any())
    {
        <div class="container">
            @if (!@String.IsNullOrEmpty(@Model.SearchTerm))
            {
                <h5>Search Results for: @Model.SearchTerm</h5>
            }

            <h1>We found @Model.ResultsCounter Recipes</h1>
            <div class="row">
            @foreach (var recipe in Model.Recipes)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a asp-page="/Recipes/Read" asp-route-recipeId="@recipe.Id">
                            <img src="@recipe.ImageSource" class="card-img-top" alt="@recipe.Title" style="max-height: 300px; object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <span class="card-title">@recipe.Title</span>
                            <p class="card-text">@recipe.Instructions</p>
                        </div>                       
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Minutes to Cook:</strong> @recipe.MinutesToCook</li>
                            <li class="list-group-item"><strong>Approved:</strong> @(recipe.IsApproved ? "Yes" : "No")</li>
                            <li class="list-group-item"><strong>Difficulty:</strong> @recipe.Difficulty</li>
                            <li class="list-group-item"><strong>Id:</strong> @recipe.Id</li>
                            <li class="list-group-item"><strong>Author:</strong> @recipe.User.Username</li>
                            <li class="list-group-item"><strong>Created at:</strong> @recipe.CreatedAt</li>
                        </ul>                            
                    </div>
                </div>
            }
            </div>
        </div>
    }
    else
    {
        <p>No results found.</p>
    }
}
